@model MvcApplication12222.Models.Product

@{
    ViewBag.Title = "ActionProducts";
}

<div class="row" style="text-align: center; width: 100%">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin: 0 auto;">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#list" data-toggle="tab" id="list-tab">Products list</a></li>
            <li><a href="#add" data-toggle="tab" id="add-tab">Add product</a></li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>


<div class="row" style="text-align: center; width: 100%">
    <div class="col-md-2"></div>
    <div class="col-md-8 tab-content" style="margin: 0 auto;">
        <div class="tab-pane active" id="list">
            @foreach (var product in ViewBag.ProductsList)
            {
                <div>
                    @product.Name
                </div>
            }
        </div>
        <div class="tab-pane" id="add" style="padding: 10px">
            @using (Html.BeginForm("SaveProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "add-form" }))
            { 
                <div class="col-sm-5">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Price" })
                    @Html.TextBoxFor(x => x.Count, new { @class = "form-control", placeholder = "Count" })

                    @Html.DropDownListFor(x => x.ProducerID, (List<SelectListItem>)ViewBag.List)
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



<script>
    $(function () {
        $('.nav-tabs').on('shown.bs.tab', function (e) {
            var tab = e.target;
            if (tab.id == "list-tab") {
                var url = '@Url.Action("ProductsList", "Home", null, Request.Url.Scheme)';

                $.ajax({
                    type: "GET",
                    url: url,
                }).success(function (data) {
                    $('#list').empty();
                    for (var i = 0; i < data.length ; ++i) {
                        $('#list').prepend("<div>" + data[i].Name + "</div>");
                    }
                });
            }
        });

        $('#add-form').submit(function (e) {
            var url = '@Url.Action("SaveProduct", "Home", null, Request.Url.Scheme)';

            $.ajax({
                type: "POST",
                url: url,
                data: $("#add-form").serialize()
            }).done(function (data) {
                $('#add-form')[0].reset();
                $('#add-form').find('input, textarea, button, select').attr("disabled", false);
            });

            $('#add-form').find('input, textarea, button, select').attr("disabled", true);

            return false;
        });
    });
</script>
